body {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 40px;
  text-align: center;
}
.image-shadow {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(images/Rectangle\ 237.png);
  padding: 225px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.text {
  text-align: center;
  color: white;
}

div p {
  font-size: 20px;
}

.button-link {
  text-decoration: none;
  padding: 15px 32px;
  margin-left: 450px;
  background-color: salmon;
  display: inline-block;
  border-radius: 5px;
}
.black-color {
  color: black;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

#add-padding-h1 {
  padding-top: 100px;
}

.flex-container div {
  display: inline-flex;
  padding: 50px;
  text-align: center;
  margin-left: 130px;
  background-color: rgb(192, 189, 186);
  border-radius: 5px;
}
a {
  text-decoration: none;
}
.red-color a {
  display: inline-block;
}
a.red-color:hover {
  color: red;
  background-color: aqua;
  display: inline;
  padding: 50px;
}
.hr-line hr {
  border-top: 1px solid rgb(57, 56, 56);
  width: 60%;
}
.hr-line a {
  text-decoration: none;
  margin-left: 45%;
}
.hr-line p {
  padding-top: 30px;
  text-align: center;
}

.colorful-box {
  width: 20%;
  height: 300px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 20px;
  box-shadow: 10px 10px 40px grey;
  border-radius: 5px;
  display: inline-block;
}
.colorful-gap {
  padding-top: 50px;
}

.light-green {
  background-color: rgb(157, 252, 220);
}
.light-pink {
  background-color: rgb(254, 126, 173);
}
.light-blue {
  background-color: rgb(101, 194, 255);
}
.icon-padding {
  padding-top: 15px;
  padding-left: 20px;
}
.photo-size {
  margin-left: 10px;
  padding-left: 150px;
}
.photo-flex {
  display: inline-flex;
  margin-right: 5%;
  padding: 100px 50px;
}
.photo-size img {
  height: 500px;
  width: 500px;
  border-radius: 5px;
}

.photo-flex p {
  height: 300px;
  width: 500px;
  margin-left: 100px;
}
.photo-flex h1 {
  margin-left: 20px;
}
.how-to {
  text-align: center;
  color: white;
  margin-left: 100px;
}
.photo-flexis {
  display: inline-flex;
  margin-right: 50px;
  padding-top: 100px;
  margin-left: 150px;
}
.photo-size-left {
  margin-right: 10px;
  padding-right: 230px;
}
.photo-size-left img {
  height: 500px;
  width: 500px;
  border-radius: 5px;
}
.photo-flexis p {
  height: 300px;
  width: 500px;
  margin-right: 100px;
}
.photo-flexis h1 {
  margin-right: 100px;
}
.how-to-two {
  text-align: center;
  color: white;
  margin-left: 0px;
}
.email-box {
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: aquamarine;
  height: 50px;
  width: 200px;
  margin-left: 600px;
}
.footer {
  background-color: black;
  color: brown;
  height: 200px;
}
.footer h2 {
  padding-top: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
